[Desktop Entry]
Name=SoundCloud Desktop
Comment=SoundCloud music player
Exec=soundcloud-desktop
Icon=io.github.zxcloli666.SoundcloudDesktop
Type=Application
Categories=Audio;Music;Player;
Keywords=soundcloud;music;player;
Actions=safe-render;

[Desktop Action safe-render]
Name=Safe render mode
Name[ru]=Безопасный режим отрисовки
Exec=soundcloud-desktop --safe-render
